---
import volcanoLeft from '../../public/svgs/volcano-left.svg'
import volcanoCenter from '../../public/svgs/volcano-center.svg'
import volcanoRight from '../../public/svgs/volcano-right.svg'
import volcanoCloud from '../../public/svgs/volcano-cloud.svg'
import volcanoLava from '../../public/svgs/volcano-lava.svg'
import island from '../../public/svgs/island.svg'
import tree from '../../public/svgs/palm-tree.svg'
---


<section 
  class="relative hero bg-gradient-to-b from-[#03161f] via-headerBotBlue to-headerBotBlue"
>

  <div class="absolute top-0 w-full h-full background-layer">
    <!-- <div class="volcano-group">
      <img class="ground left-volcano" src={volcanoLeft.src} />
      <div class="center center-group">
        <img class="center puff" src={volcanoCloud.src} />
        <div class="ground center center-volcano">
          <img class="lava" src={volcanoLava.src} />
          <img class="center-mountain" src={volcanoCenter.src} />
        </div>
      </div>
      <img class="ground right-volcano" src={volcanoRight.src} />
    </div> -->

    <img class="moon-clouds absolute left-1/3 tablet:left-[50%] w-3/5 max-w-sm top-14" src="/heroPageNew/MoonAndClouds.svg" />
    <img class="dolphin absolute left-1/3 bottom-6 max-w-[25%]" src="/heroPageNew/Dolphin.svg" />
    <div class="island-group">
      <img class="ground island" src="/heroPageNew/Island.svg" />
      <img class="tree1" src="/heroPageNew/Tree.svg" />
      <img class="tree2" src="/heroPageNew/Tree.svg" />
    </div>
  </div>

  <div class="relative pt-16 h-[80vh] flex items-center">
    <!-- SparkHacks Logo + CTA -->
    <div class="flex flex-col items-start space-y-2 pb-4 pl-3 tablet:pl-10 tablet:w-3/5">
      <img class="w-1/2 max-w-fit tablet:max-w-[20rem]" src="/sparkhacks-logo.svg" alt="logo">
      <h1 class="title text-5xl tablet:text-7xl font-bold px-4 tablet:px-10 text-[#ffffff] z-30">
        Sparkhacks 2025
      </h1>
      <h1 class="date text-3xl text-[#F6B09C] tablet:text-6xl font-bold px-4 tablet:px-10 z-30">
        FEB 07-08
      </h1>
    </div>

    <!-- <div class="overflow-y-hidden absolute bottom-0 right-[10.3%] w-1/3 z-10">
      <img class=" " src="/heroPage/moon.svg" alt="moon">
    </div> -->
  </div>

</section>

<!-- water -->
<div class="flex bg-[#014E6F]">
  <div class = "hero flex w-full h-[25vh] flex-row z-30 
  bg-cover bg-bottom bg-no-repeat" style="background-image:url('/heroPage/water.svg')" >
    <img class="w-full h-full object-cover " src="/heroPage/subtract.svg">
  </div>

  <img class="w-full h-full absolute z-20 
  transform -translate-y-120 max-h-[50vh]" src="/heroPage/rays.png">
</div>


<style>
  .island-group {
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 50%;
  }

  .tree1 {
    position: absolute;
    /* right: 90px; */
    width: 25%; /* percent of island*/
    z-index: 30;
    bottom: 0;
    transform: translateX(100%);
  }

  .tree2 {
    position: absolute;
    right: calc(20% + 2vw);
    width: 15.5%;
    bottom: 20px;
    transform: scaleX(-1);
    transform-origin: center;
    width: 15.5%;
    z-index: 30;
  }

  .island {
    z-index: 31;
    width: 100%;
  }

  .hero-text {
    z-index: 999;
  }

  .ground {
    position: absolute;
    bottom: 0;
  }

  .hero {
    /* background: linear-gradient(160deg, #0880ca 24.6%, #7dfff4 92.52%); */
    background-image: linear-gradient(180deg, #002242 0%, #0e477c 47%, #855186 70%, #e06e8d 86%, #ff8d7e 100%)
  }
</style>